@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Poppins:wght@400;600&display=swap');

body {
    position: relative;
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    color: var(--font-color);
    background-color: var(--background);
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;

}

h1, h2, h3.fw-bold {
    font-family: 'Poppins';
    font-size: 2.2rem;
    color: var(--font-color);
}

.welcome {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
    letter-spacing: 1.5px !important;
    color: var(--accent) !important;
    margin-bottom: 8px !important;
}

.text-muted {
    color: var(--secondary-font-color) !important;
    font-size: 0.95rem;
    font-family:Arial, Helvetica, sans-serif;
}

.card-body {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    gap: 20px;
}

.card {
    margin: 0 auto;
    background: var(--background);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 6px 16px var(--shadow);
    position: relative;
    max-width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card::before {
    display: none;
}

.btn-primary, .btn-success {
    background-color: var(--accent) !important;
    border-color: var(--accent) !important;
    border-radius: 50px;
    box-shadow: 0 3px 8px var(--shadow);
    padding: 14px 42px;
    font-size: 1.2rem;
}

.btn-primary:hover, .btn-success:hover {
    background-color: #15833b !important;
    transform: translateY(-1px);
}

.container {
    margin-top: 0px !important;
}

.decor-bottom-left {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 600px;
    height: auto;
    opacity: 0.5;
    z-index: 1;
    overflow: hidden;
}

.decor-top-right {
    position:absolute;
    top: 0;
    right: 0px;
    width: 400px;
    height: auto;
    opacity: 0.5;
    z-index: 1;
}

.decor-bottom-right {
    position:absolute;
    bottom: 0;
    right: 0px;
    width: 350px;
    height: auto;
    opacity: 0.5;
    z-index: 1;
    overflow: hidden;
}

.decor-top-left {
    position:absolute;
    top: 0;
    left: 0px;
    width: 500px;
    height: auto;
    opacity: 0.5;
    z-index: 1;
}
