{% extends "layout.html" %}

{% block title %}Map{% endblock %}

{% block container_start %}{% endblock %}
{% block container_end %}{% endblock %}

{% block head %}
<link href="https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.js"></script>
<script id="search-js" src="https://api.mapbox.com/search-js/v1.5.0/web.js"></script>
<style>
    #map {
        width: 100%;
        height: calc(100vh - 56px);
    }
</style>
{% endblock %}

{% block content %}
    <div id="map" data-token="{{ mapbox_token }}"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='map-page.js') }}"></script>
{% endblock %}