{% extends "layout.html" %}

{% block title %}Note-Maker{% endblock %}

{% block head %}
<link href="https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.js"></script>
<script id="search-js" src="https://api.mapbox.com/search-js/v1.5.0/web.js"></script>
<style>
    body {
        margin: 0;
        font-family: Arial;
    }

    #map {
        width: 100%;
        flex: 1 1 auto;
        min-height: 150px;
        border-radius: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card shadow mb-4 p-4 text-center bg-light">
            <div class="card-body">
                <h3 class="fw-bold text-uppercase text-secondary">Enter Note Information</h3>

                <form action="" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <!-- Song Section-->
                    <div class="mb-4">
                        <div class="input-group">
                            {{ form.song(class="form-control border-success p-3 text-center fw-semibold", placeholder="Song") }}
                        </div>
                    </div>
                    <!-- Location Section-->
                    <div class="mb-4">
                        <div id="map"></div>
                        {{ form.latitude() }}
                        {{ form.longitude() }}
                    </div>
                    <!-- Photo Section-->
                    <div class="row g-3 mb-4">
                        <div>
                            <div class="border rounded d-flex flex-column align-items-center justify-content-center bg-white">
                                <label class="form-label fw-semibold text-muted mb-2">Photo</label>
                                {{ form.photo(class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <!-- Notes Section-->
                    <div>
                        <div class="border rounded h-100 d-flex flex-column align-items-center justify-content-center bg-white">
                            <label class="form-label fw-semibold text-muted mb-2">Notes</label>
                            {{ form.notes(class="form-control", rows="2", placeholder="Write...") }}
                        </div>
                    </div>
                    <!-- Submit Section-->
                    <div class="d-grid gap-2 col-8 mx-auto mt-4">
                        {{ form.submit(class="btn btn-lg btn-outline-secondary fw-bold text-uppercase") }}
                    </div>

                </form>
            </div> 
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="./static/map-picker.js"></script>
{% endblock %}

