{% extends "layout.html" %}

{% block title %}Note{% endblock %}

{% block head %}
<link href="https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.js"></script>
<script id="search-js" src="https://api.mapbox.com/search-js/v1.5.0/web.js"></script>
<link rel="stylesheet" href="/static/main.css"> 
<style>
    body {
        margin: 0;
        font-family: Arial;
    }

    #map {
        width: 100%;
        flex: 1 1 auto;
        min-height: 150px;
        border-radius: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="card shadow mb-4 p-4">
        <div class="card-body">
            
            <div class="row g-4 mb-4">
                <div class="col-md-8">
                    <div class="card shadow-sm p-3 h-100 bg-light">
                        <h3 class="fw-bold text-success">Your song on {{ date }}:</h3>
                        <h4 class="text-muted">{{ note.song if note.song else 'No song recorded' }}</h4>
                        <hr>
                        <h5 class="fw-semibold">Want to feel this again?</h5>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm p-3 h-100 text-center d-flex align-items-center justify-content-center">
                        {% if note.photo %}
                            <img src="/static/uploads/{{ note.photo }}" class="img-fluid rounded shadow-sm" alt="Note Photo">
                        {% else %}
                            <h4 class="fw-bold text-muted my-auto"><i class="bi bi-image"></i> No Picture</h4>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--Map Display canvas target-->
            <div class="row g-4">
                <div class="col-md-8">
                    <div class="card shadow-sm p-3">
                        <h2 class="fw-bold border-bottom pb-2"> Notes</h2>
                        <p class="text-secondary mt-2">{{ note.notes if note.notes else 'Empty entry.' }}</p>
                    </div>
                </div>
                
                <div class="col-md-4">
                        <div id="map"></div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="./static/map-display.js"></script>
{% endblock %}
